.x{
    background-image: url(pack.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {

    overflow-x: hidden;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 55px;
    
    position: relative;
    
  }
  
  header .logo img {
    height: 100px;
  }
  
  header nav ul {
    text-decoration: none;
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    
    margin: 0 30px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #40BB15;
    font-weight:bold;
  }
  
  header .auth-buttons {
    display: flex;
    align-items: center;
  }
  
  header .auth-buttons a {
   margin-left: 40px;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #40BB15;
    border-radius: 5px;
    font-size: 14px;
  }
  
  header .auth-buttons a.login {
  margin-left: 210px;
    background: transparent;
    color: #ffffff;
    font-weight: bold;
  }
  

  .hero {
    position: relative;
    width: 100%;
    height: 110vh;

    display: flex;
    
    
    padding: 0 40px;
  }
  
  .hero .content {
   
    padding: 40px;
    border-radius: 10px;
    color: #000;
    max-width: 450px;
  }
  
  .hero .content h1 {
    font-size: 36px;
    margin-bottom: 25px;
  }
  
  .hero .content ul {
    list-style: Montagu Slab;
    color: #737373;
    margin-bottom: 35px;
    font-weight: bold;
  }
  
  .hero .content ul li {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .cta-buttons .btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .cta-buttons .btn.learn-more {
    background-color: #40BB15;
    break-inside:auto;
  }
  
  .cta-buttons .btn.join-us {
    background-color: #40BB15;
  }
  
 
  @media (max-width: 768px) {
    header {
      flex-direction: column;
    }
    
    .hero {
      flex-direction: column;
      height: auto;
    }
  
    .hero .content {
      width: 100%;
    }
  }
  /* About us Stylin code  */
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,Montserrat;
  }
   
  .container {
    display: flex;
    background: #ffffff;
    max-width: 1000px;
    position: relative;
  }
  

  .left-section {
    flex: 2;
  }
  
  .image-box {
    position: relative;
    background-color: #eef2ff;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .image-box img {
    width: 100%;
    display: block;
    border-radius: 12px;
  }
  

  .right-section {
    flex: 2.5;
    padding-left: 40px;
    margin-top: 50px;
  }
  
  .right-section h1 {
    font-size: 2rem;
    color: #252B42;
    font-weight: extra bold;
    margin-bottom: 15px;
  }
  
  .right-section h1 span {
    color: #252B42;
  }
  
  .right-section p {
    color: #666;
    margin-bottom: 20px;
    line-height: 1.4;
  }
  
  .right-section ul {
    list-style: Montserrat paraparagraph;
    margin: 15px 0;
  }
  
  .right-section ul li {
    color: #737373;
    font-size: 1rem;
    margin-bottom: 8px;
  }
  
  .learn-more {
    display: inline-block;
    margin-top: 10px;
    color: #40BB15;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .learn-more:hover {
    text-decoration: underline;
  }
  
  
  .logo-section {
    position: absolute;
    top: 860px;
    right: 20px;
    max-width: 100px;
  }
  
  .
  
/* packeGes Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
   
}

.container {
    max-width: 800px;
  
   
}

/* Header Styles */
.header {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 500px;
    margin-bottom: 80px;
}



/* Package Card Styles */
.package {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.package img {
    max-width: 280px;
    border-radius: 22px;
}

.details {
    text-align: left;
    max-width: 20%;
    max-height: 70%;
    list-style: Montserrat;
    font-weight: bold;
}

.details h3 {
    font-size: 18px;
    color: #40BB15;
    margin-bottom: 5px;
}

.details p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

/*contact us*/

.contact {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.logo-contact img {
    width: 130px;
    height: auto;
    margin-left: 20px;
}


main {
  text-align: center;
  margin-top: 20px;
}

.contact h2 {
  font-size: 3em;
  margin-bottom: 20px;

}

.contact p {
  
  font-size: 1.2em;
  color: #737373;
margin-bottom: 50px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  
}

.input-group input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
  
}

.input-group button {
    padding: 10px 20px;
    border: none;
    background-color: #40BB15;
    color: #fff;
    cursor: pointer;
  
    font-weight: bold;
}
footer {
  background-color: #f3e9e9;
  display: flex;
  justify-content: space-between;
  text-align: left;
  height: 170px;
  
}

footer .footer-section {
  flex: 1;
  margin: 0 10px;
}

footer .footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

footer .footer-section ul {
  list-style: none ;
  padding: 0;
}



footer .footer-section ul li a {
  text-decoration: none;
  color: #333;
}

.social-icons img {
  width: 100px;
  margin-right: 100px;
}
